* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 150px;
}

header {
    display: flex;
    height: 70px;
    padding: 0 7vw;
    background-color: rgb(249, 229, 211);
    border-bottom: 2px solid goldenrod;
    box-shadow: 0 100px 500px rgb(253, 248, 244);
}

.a a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 80px;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.2s;
}

.bar {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.a {
    margin-top: 30px;
    margin-left: 150px;
}

.a a:hover {
    color: goldenrod;
    text-decoration: underline;
}

.b a {
    text-decoration: none;
    margin-right: 22px;
    color: black;
    font-weight: 500;
}

.b {
    margin-top: 25px;
}

.b button {
    width: 80px;
    height: 30px;
    color: black;
    background-color: rgb(244, 221, 121);
    border: none;
    border-radius: 1rem;
    border: 1px solid rgb(160, 136, 2);
    font-weight: 500;
    transition: 0.2s;
}

.b button:hover {
    transform: scale(1.07);
    cursor: pointer;
}

.b a:hover {
    font-weight: bold;
    color: goldenrod;
}

.pic img {
    width: 99vw;
    position: absolute;
    z-index: -2;
    opacity: 0.9;
    height: 620px;
}

.pic h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 340px;
    font-size: 70px;
    padding-left: 100px;
    font-style: italic;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.pic p {
    padding-left: 230px;
    padding-top: 5px;
    color: white;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px 2px rgb(82, 68, 23);
}

.info {
    position: relative;
    top: 150px;
    background-color: burlywood;
    height: 100px;
    display: flex;
}

.contact {
    display: flex;
    margin-left: 140px;
    padding-top: 8px;
    gap: 140px;
}

.contact i {
    position: relative;
    right: 40px;
    top: 32px;
    size: 50px;
}

.social {
    background-color: rgb(96, 72, 5);
    position: relative;
    left: 134px;
    width: 557px;
    box-shadow: 20px 20px 2px white;
    display: flex;
    gap: 80px;
}

.social i {
    position: relative;
    top: 32px;
    font-size: 40px;
    color: whitesmoke;
    left: 145px;
    opacity: 0.75;
}

.social i:hover {
    opacity: 1;
}

.gallery {
    position: relative;
    top: 270px;
    left: 20px;
}

.gallery h1 {
    font-style: italic;
    color: rgb(86, 58, 15);
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    height: 280px;
    box-shadow: 2px 2px 2px black;
}

.card:hover {
    transform: scale(1.02);
}

.call h1,
.loc h1 {
    opacity: 0.9;
}

.des {
    margin-left: 454px;
    width: 600px;
}

.content {
    position: relative;
    top: 340px;
    left: 20px;
}

.con {
    position: relative;
    left: 40px;
    width: 1400px;
    font-size: 17px;
    color: rgb(72, 54, 7);
}

.content h1 {
    color: rgb(131, 100, 21);
}

.reserve {
    background-color: rgb(160, 110, 17);
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border-color: white;
    color: white;
    position: relative;
    top: 10px;
    left: 650px;
    transition: 0.5s;
}

.reserve:hover {
    transform: scale(1.07);
    color: rgb(160, 110, 17);
    background-color: white;
    border: 1px solid goldenrod;
    box-shadow: 1px 1px 2px 2px rgb(206, 131, 26);
    cursor: pointer;
}

.enq1 {
    position: relative;
    top: 420px;
    left: 10px;
}

.enq {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 745px 745px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 10px;
}

.enq1 input {
    font-size: 18px;
}

.add {
    margin-top: 10px;
    display: flex;
    height: 150px;
    width: 1500px;
}

.enq1 h2 {
    margin-left: 10px;
    color: rgb(72, 54, 7);
}

.abt {
    position: relative;
    top: 520px;
    background-color: rgb(109, 64, 13);
    border-top: 3px solid rgb(238, 218, 119);
    display: flex;
    height: 350px;
}

.abt img {
    margin-left: 20px;
}

.abt h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    position: relative;
    bottom: 205px;
    left: 150px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px goldenrod;
}

.faltu {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    position: relative;
    top: 50px;
    left: 230px;
    grid-gap: 50px;
    color: whitesmoke;
    opacity: 0.8;
}

.faltu h5 {
    color: goldenrod;
    font-size: medium;
    padding-bottom: 10px;
}

.abt1 {
    background-color: rgb(109, 64, 13);
    color: whitesmoke;
    position: relative;
    top: 500px;
    display: flex;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.abt1 p {
    opacity: 0.8;
}

.abt1 p:hover {
    opacity: 0.9;
}


@media (max-width: 768px) {
    header {
        
        align-items: center;
        height: auto;
        padding: 0 3vw;
        width: 380px;
    }
    .logo img{
        display: none;
        
        
    }
    .book{
        display: none;
    }

    .a {
        margin-top: 10px;
        margin-left: 0;
    }

    .a a {
        margin-right: 20px;
        font-size: 12px;
    }

    .bar {
        /* flex-direction: column; */
        align-items: center;
    }
    .b button{
        height: 14px;
        width: 60px;
        font-size: 10px;
        margin-bottom: 3px;
    }

    .b {
        margin-top: 10px;
        text-align: center;
    }

    .pic img {
        width: 402px;
        height: auto;
    }

    .pic h1 {
        font-size: 40px;
        padding-left: 20px;
        padding-top: 70px;
        font-size: 20px;
    }

    .pic p {
        padding-left: 20px;
        font-size: 14px;
    }

    .info {
        position: relative;
        top: 19px;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 402px;
    }

    .contact {
        flex-direction: column;
        margin-left: 0;
        gap: 8px;
        align-items: center;
        padding-top: 10px;
    }
   
    .contact h1{
        font-size: 18px;
        position: relative;
        right: 80px;
    }
    .call, .loc{
        display: flex;
        justify-content: space-around;
        gap: 20px;
        
    }
    .loc h1{
        font-size: 15px;
        right: 7px;
    }
    .call h1{
        right: 64px;
        font-size: 15px;
    }
    .loc p{
        font-size: 12px;
    }
    .contact i{
        display: none;
    }

    .social {
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-around;
        left: 0;
        top: 10px;
        height: 90px;
        width: 90%;
        gap: 20px;
    }

    .social i {
        left: 0;
        top: 2px;
    }

    .gallery {
        top: 100px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .gallery img{
        width: 250px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .des {
        margin-left: 0;
        width: auto;
    }

    .content {
        top: 200px;
        left: 0;
        width: 100%;
    }
    .content h1{
        margin-left: 5px;
    }

    .con {
        left: 0;
        width: 90%;
        margin: 0 auto;
    }

    .reserve {
        left: 0;
        margin: 0 auto;
        display: block;
    }

    .enq {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 50px);
    }

    .add {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .abt {
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: 392px;
        
        height: 500px;
    }

    .abt h1 {
        font-size: 50px;
        bottom: 0;
        left: 0;
        text-align: center;
    }

    .faltu {
        grid-template-columns: 1fr 1fr;
        left: 0;
        gap: 20px;
    }

    .abt1 {
        flex-direction: column;
        align-items: center;
    }
    .abt1 p{
        font-size: 8px;
    }
    .nm{
        display: none;
    }
}
